@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var empid = ViewBag.EmployeeID;

    <!DOCTYPE html>


    <html lang="en">



    <head>


        <meta charset="utf-8">


        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <meta name="viewport" content="width=device-width,initial-scale=1">


        <title>Admin Dashboard</title>


        <!-- Favicon icon -->


        <link rel="icon" type="image/png" sizes="16x16" href="~/AssestDash/images/loginimg1.jpg">


        <link href="~/AssestDash/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">


        <link rel="stylesheet" href="~/AssestDash/vendor/chartist/css/chartist.min.css">


        <!-- Datatable -->


        <link href="~/AssestDash/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">


        <link href="~/AssestDash/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">


        <link href="~/AssestDash/css/style.css" rel="stylesheet">


        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


    </head>


    <body>



        <!--*******************
            Preloader start
        ********************-->


        <div id="preloader">


            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->
        <!--**********************************
            Main wrapper start
        ***********************************-->
        <div id="main-wrapper">

            <!--**********************************
                Nav header start
            ***********************************-->
            <div class="nav-header">
                <a href="/Home/Admin" class="brand-logo">
                    <img class="logo-abbr" src="~/AssestDash/images/loginimg1.jpg" width="175" height="100" style="margin-left:25px;" alt="">

                </a>

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!--**********************************
                Nav header end
            ***********************************-->
            <!--**********************************
                Chat box start
            ***********************************-->
            <!--**********************************
                Chat box End
            ***********************************-->
            <!--**********************************
                Header start
            ***********************************-->
            <div class="header">
                <div class="header-content">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <div class="dashboard_bar">
                                    <div class="input-group search-area d-lg-inline-flex d-none">

                                    </div>
                                </div>
                            </div>
                            <ul class="navbar-nav header-right">



                                <li class="nav-item dropdown header-profile">
                                    <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                        <!-- <div class="header-info">
                                            <span class="text-black">Hello,<strong>Franklin</strong></span>
                                            <p class="fs-12 mb-0">Super Admin</p>
                                        </div> -->
                                        <img src="~/images/0c787dec-e4fe-4c89-abdf-639908c87243_icons8-user-100.png" width="20" alt="" />
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="/Employees/Doctor/@empid" class="dropdown-item ai-icon">
                                            <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            <span class="ml-2">Profile </span>
                                        </a>

                                        <a href="/LoginRegister/Login" class="dropdown-item ai-icon">
                                            <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="deznav">
                <div class="deznav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Dashboard</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="/Home/Admin">Dashboard</a></li>
                                <li><a href="/Patients/Index">Patients</a></li>
                                @*
        <li><a href="patient-details.html">Patient Details</a></li>*@
                                <li><a href="/Employees/Index">Doctors</a></li>
                                @*
        <li><a href="/Employees/Details">Doctor Details</a></li>*@
                                <li><a href="/Clinics/Index">Clinics</a></li>
                                <li><a href="/Home/Financial">Financial</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-television"></i>
                                <span class="nav-text">Appointments</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="/Home/AppointmentData">Appointments</a></li>
                               
                              
                            </ul>
                        </li>

             

                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-edit"></i>
                                <span class="nav-text">Edit Home Page</span>
                            </a>
                            <ul aria-expanded="false">

                                <li><a href="/Homes/Index">Home Page</a></li>
                                <li><a href="/Navbars/Index">Nav Bar</a></li>
                                <li><a href="/Services/Index">Services</a></li>
                                <li><a href="/Aboutus/Index">About Us</a></li>
                                <li><a href="/Contactus/Index">Contact Us</a></li>
                                <li><a href="/Footers/Index">Footer</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Index" class="ai-icon" aria-expanded="false">
                                <i class="flaticon-381-home-2"  ></i>
                                <span class="nav-text">Home Page</span>
                            </a>
                        </li>

                    </ul>


                </div>
            </div>
            <!--**********************************
                Sidebar end
            ***********************************-->
            <!--**********************************
                Content body start
            ***********************************-->
            <div>
                @RenderBody()
            </div>
            <!--**********************************
                Content body end
            ***********************************-->
            <!--**********************************
                Footer start
            ***********************************-->
            @*<div class="footer">
                    <div class="copyright">
                        <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2020</p>
                    </div>
                </div>*@
            <!--**********************************
                Footer end
            ***********************************-->
            <!--**********************************
               Support ticket button start
            ***********************************-->
            <!--**********************************
               Support ticket button end
            ***********************************-->


        </div>
        <!--**********************************
            Main wrapper end
        ***********************************-->
        <!--**********************************
            Scripts
        ***********************************-->
        <!-- Required vendors -->
        <script src="~/AssestDash/vendor/global/global.min.js"></script>
        <script src="~/AssestDash/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="~/AssestDash/vendor/chart.js/Chart.bundle.min.js"></script>
        <script src="~/AssestDash/js/custom.min.js"></script>
        <script src="~/AssestDash/js/deznav-init.js"></script>

        <!-- Datatable -->
        <script src="~/AssestDash/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script>
            (function ($) {
                var table = $('#example5').DataTable({
                    searching: false,
                    paging: true,
                    select: false,
                    //info: false,
                    lengthChange: false

                });
                $('#example tbody').on('click', 'tr', function () {
                    var data = table.row(this).data();

                });
            })(jQuery);
        </script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
}
